<!-- experience Section -->
<section id="experience">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Experience & Education</h2>
        <h3 class="section-subheading text-muted">For more details please visit my Linkedin page.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
<!-- learn -->
          <li>
            <div class="timeline-image">
              <%= image_tag(image_path('learn.jpg'), class:"img-responsive img-circle") %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2016-2017</h4>
                <h4 class="subheading">Learn Academy(Rails & JS Bootcamp)</h4>
                <h5>Full Time Student</h5>
              </div>
              <div class="timeline-body">
                <p class="text-muted">LEARN is a hands on, immersive and intense, bootcamp-style school. From 9-5 everyday for 3 months, I worked in a classroom learning new programming tools and concepts including; Ruby, Ruby on Rails, JavaScript, jQuery, AJAX, HTML5 & CSS, SQL, PostgreSQL, Git & Source control, Github, Code Reviews & Collaboration, BDD-testing with RSpec, API & Applications. All of these are completed with a special emphasis on pair programming & other problem solving techniques.</p>
              </div>
            </div>
          </li>
<!-- mseuf -->
          <li class="timeline-inverted">
            <div class="timeline-image">
              <%= image_tag(image_path('mseuf.jpg'), class:"img-responsive img-circle") %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2008-2015</h4>
                <h4 class="subheading">Graduated from Manual S.Enverga University of The Philippines</h4>
                <h5>Bachelor of Science In Industrial Engineering</h5>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Industrial engineering is a branch of engineering which deals with the optimization of complex processes, systems or organizations. Industrial engineers work to eliminate waste of time, money, materials, man-hours, machine time, energy and other resources that do not generate value.</p>
              </div>
            </div>
          </li>
<!-- mdd -->
          <li>
            <div class="timeline-image">
              <%= image_tag(image_path('mdd.jpg'), class:"img-responsive img-circle") %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2001-2015</h4>
                <h4 class="subheading">Import and Export Supervisor</h4>
                <h5>MD Group of Company/MDLaguna Corporation</h5>
              </div>
              <div class="timeline-body">
                <p class="text-muted">To prepares and ensure the compliance to all (PEZA) Philippine Economic Zone Authority and (BOC) Bureau Of Custom requirements of all related business activities.</p>
              </div>
            </div>
          </li>
<!-- IMI -->
          <li class="timeline-inverted">
            <div class="timeline-image">
                <%= image_tag(image_path('IMI.jpg'), class:"img-responsive img-thumbnail img-circle") %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>1996 - 2000</h4>
                <h4 class="subheading">Documentation Specialist/Controller</h4>
                <h5>Integrated Microelectronic Inc./Yamaha Division</h5>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Manage and track company documents, scan, image, organize and maintain documents, adhering to company’s document lifecycle procedures and archive inactive records in accordance with the records retention schedule.</p>
              </div>
            </div>
          </li>

          <li>
            <div class="timeline-image">
              <%= image_tag(image_path('LEI.jpg'), class:"img-responsive img-circle") %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>1993-1995</h4>
                <h4 class="subheading">Quality Control & Assurance Clerk</h4>
                <h5>Laguna Electronics Incorporated.</h5>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Collates daily the production report to provide an overview of the department’s performance; compiled & analyze data from weekly reports to prepare Sr. Manager’s presentation materials</p>
              </div>
            </div>
          </li>
<!-- ending -->
          <li class="timeline-inverted">
            <div class="timeline-image animated infinite pulse">
              <h4>Be Part
                <br>Of My
                <br>Story!</h4>
              </div>
            </li>
          </ul>
        </div>
        <p><a href="#experience" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Experience and Education</a>
        <a href="#skills" class="btn btn-secondary btn-lg active animated infinite pulse" role="button" aria-pressed="true">Skill Stack</a></p>

      </div>
    </div>
  </section>
