  <!DOCTYPE html>
  <html>
  <head>
    <title>AcsPortfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,300,200,100,500|Montserrat:400'%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'application', 'https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


    <!-- Custom Fonts  -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

  </head>
  <body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand page-scroll" href="#page-top"><i class="fa fa-play-circle"></i><spam class="light">Amar Shivers</span><a/a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <li>
              <a class="page-scroll" href="#about">About</a>
            </li>
            <li>
              <a class="page-scroll" href="#experience">Experience</a>
            </li>
            <li>
              <a class="page-scroll" href="#skills">Skills</a>
            </li>
            <li>
              <a class="page-scroll" href="#portfolio">Portfolio</a>
            </li>
            <li>
              <a class="page-scroll" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-f<luid -->
    </nav>
    <!-- end navbar -->

          <%= yield %>

 <!-- footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6">

            <p>&copy; Amar Shivers<span class="copyright"> | </span>All rights reserved <%= Time.now.year %></p>

          </div>
          <div class="col-md-6">
            <ul class="list-inline social-buttons">
              <li><a href="https://twitter.com/@shiversamar"><i class="fa fa-twitter fa-fw animated infinite jello"></i></a>
              </li>
              <li><a href="https://github.com/shiversamar"><i class="fa fa-github fa-fw animated infinite rubberBand"></i></a>
              </li>
              <li><a href="https://www.linkedin.com/in/amar-shivers"><i class="fa fa-linkedin fa-fw animated infinite tada"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
  </html>
